<h1>Welcome to my website!</h1>
<p>This professional website is only used for business purposes only. I want to learn how to make applications using ruby on rails. I would like a long term career as a developer that is adaptable and flexible. </p>
